* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    font-family: Impact, fantasy;
    font-size: 40px;
    color: #1976d2;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
  }
  
  .black {
    background-color: #000;
  }

  .red{
    background-color: red;
    color : red;
  }
  
  .redx{
    color : red;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .board-wrapper {
    display: flex;
    align-items: flex-start;
  }
  
  .row-wrapper {
    display: flex;
  }
  
  .board-column {
    display: flex;
    flex-direction: column;
  }
  
  .board-row {
    display: flex;
  }
  
  .corner {
    display: flex;
  }

  .corner .square {
    border-top: 0px;
    border-left: 0px;
  }

  .board-column .square{
    font-size: 12px;
  }
  
  .row-wrapper .square{
    font-size: 12px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .errors {
    margin-left: 20px;
    color: red;
  }
  